<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Job Postings</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css'><link rel="stylesheet" href="./style.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSETS_ROOT }}/img/apple-icon.png">
  <link rel="icon" type="image/png" href="{{ ASSETS_ROOT }}/img/favicon.png">

  <!--SHORTCUT ICON-->
  <link rel="shortcut icon" href="../images/favicon.icon">

  <!--FONTAWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="{{ ASSETS_ROOT }}/css/nucleo-icons.css" rel="stylesheet" />
  <link href="{{ ASSETS_ROOT }}/css/nucleo-svg.css" rel="stylesheet" />
  <link rel="stylesheet"  href="{{ ASSETS_ROOT }}/css/style.css">

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/material-kit.css?v=3.0.0" rel="stylesheet" />

</head>
<body>

  {% include 'includes/navigation.html' %}
<!-- partial:index.partial.html -->
<br><br>
<div class="bg-gray-200 min-h-screen">
   
  
  <div class="max-w-screen-xl mx-auto px-2 py-5">
    <div class="flex flex-col flex-wrap md:flex-row md:-mx-3">
      <main class="w-full lg:w-3/4 mb-8 lg:mb-0">
        <article class="md:mx-3 bg-gray-900 shadow-lg">
          <img src="https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15768.jpg?t=st=1657798079~exp=1657798679~hmac=93e41abbac0ee6ce9180978868eef9d1a4d40943caec4cf2e73566623ffdebb6&w=900" class="w-full">
          <div class="p-6 bg-white">
            <h1 class="pb-3 font-bold text-4xl md:text-5xl leading-tight">Lorem Ipsum - All the facts</h1>
            <div class="bg-gray-200 mb-6 inline-block py-1 px-2 italic text-sm">Posted on: <time datetime="2021-11-19 20:00">November 19, 2021</time> by <a href="#" class="underline hover:no-underline">Stephen Ainsworth</a></div>
            <div class="leading-relaxed">
              <h2 class="font-bold">What is Lorem Ipsum?</h2>
              <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <h2 class="font-bold">Where does it come from?</h2>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
              <h2 class=" font-bold">Why do we use it?</h2>
              <p class=" pb-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
              <h2 class=" pb-3 font-bold">Where can I get some?</h2>
              <p class="pb-6">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
              <div class="pb-6">
                <div class="pb-2">Categories: <a href="#" class="bg-gray-800 py-0.5 px-2 text-sm rounded-md transition hover:bg-gray-600 text-white">a category</a> <a href="#" class="bg-gray-800 py-0.5 px-2 text-sm rounded-md transition hover:bg-gray-600 text-white">another category</a> <a href="#" class="bg-gray-800 py-0.5 px-2 text-sm rounded-md transition hover:bg-gray-600 text-white">one more category</a></div>
                <div class="">Tags: <a href="#" class="bg-gray-800 py-0.5 px-2 text-sm rounded-md transition hover:bg-gray-600  text-white">a tag</a> <a href="#" class="bg-gray-800 py-0.5 px-2 text-sm rounded-md transition hover:bg-gray-600  text-white">another tag</a> <a href="#" class="bg-gray-800 py-0.5 px-2 text-sm rounded-md transition hover:bg-gray-600  text-white">one more tag</a></div>
              </div>
              <div class="font-bold text-xl uppercase tracking-wide text-center pb-1.5">
                Share on Socials
              </div>
              <div class="mx-auto w-16 h-px bg-gray-500 mb-4"></div>
              <ul class="flex justify-center items-center">
                <li class="w-6 mx-2"><a href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                    </svg></a></li><a href="#">
                </a>
                <li class="w-4 mx-2"><a href="#"></a><a href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                      <path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                    </svg></a></li>
                <li class="w-6 mx-2"><a href="#"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                    </svg></a></li>
              </ul>
            </div>
          </div>
        </article>
        <!-- <div class="md:mx-3 mt-8">
          <h2 class="font-bold text-4xl pb-4 leading-tight">Comments</h2>
          <div class="mb-6 p-4 bg-white">
            <div class="mb-2 flex justify-between">
              <small class="uppercase text-xs">Stephen Ainsworth</small>
              <time datetime="2021-11-19 20:00" class="text-xs">November 19, 2021</time>
            </div>
            <p class="text-lg pb-6">this is a test comment</p>
            <div class="text-right">
              <a href="#" class="text-right uppercase hover:underline">reply</a>
            </div>
          </div>
          <div class="mb-6 ml-12 p-4 bg-white">
            <div class="mb-2 flex justify-between">
              <small class="uppercase text-xs">Stephen Ainsworth</small>
              <time datetime="2021-11-19 20:00" class="text-xs">November 19, 2021</time>
            </div>
            <p class="text-lg pb-6">testing testing 123</p>
            <div class="text-right">
              <a href="#" class="text-right uppercase hover:underline">reply</a>
            </div>
          </div>
          <div class="mb-6 p-4 bg-white">
            <div class="mb-2 flex justify-between">
              <small class="uppercase text-xs"><a href="https://stephenainsworth.com" target="_blank" class="hover:underline">Stephen Ainsworth</a></small>
              <time datetime="2021-11-19 20:00" class="text-xs">November 19, 2021</time>
            </div>
            <p class="text-lg pb-6">this is another test comment</p>
            <div class="text-right">
              <a href="#" class="text-right uppercase hover:underline">reply</a>
            </div>
          </div>
          <div class="mb-6 p-4 bg-white">
            <div class="mb-2 flex justify-between">
              <small class="uppercase text-xs">Stephen Ainsworth</small>
              <time datetime="2021-11-19 20:00" class="text-xs">November 19, 2021</time>
            </div>
            <p class="text-lg pb-6">this is a test comment</p>
            <div class="text-right">
              <a href="#" class="text-right uppercase hover:underline">reply</a>
            </div>
          </div>
          <h2 class="font-bold text-4xl pb-4 leading-tight">Leave a comment</h2>
          <form class="p-4 m-0 bg-white">
            <div class="mb-6">
              <label class="uppercase" for="message">
                Comment*
              </label>
              <textarea class="bg-white w-full p-2 border-b-2 border-gray-100 h-48" id="message" placeholder="Comment"></textarea>
            </div>
            <div class="mb-6">
              <label class="uppercase" for="name">
                Name*
              </label>
              <input class="bg-white w-full p-2 border-b-2 border-gray-100" id="name" type="text" placeholder="Name">
            </div>
            <div class="mb-6">
              <label class="uppercase" for="email">
                Email*
              </label>
              <input class="bg-white w-full p-2 border-b-2 border-gray-100" id="email" type="email" placeholder="Email">
            </div>

            <div class="flex items-center justify-end">
              <button class="bg-gray-800 text-white px-6 md:px-3 py-2 md:py-1 font-bold transition duration-300 border-2 border-white hover:bg-gray-300 hover:text-black focus:border-black focus:bg-gray-400 text-2xl md:text-base">Post Comment</button>
            </div>
          </form>
        </div> -->
      </main>
      <aside class="w-full lg:w-1/4">
        <div class="md:mx-3 sticky top-6" id="__FPSC_ID_1_1641419081408">
          <a href="#" class="h-96 mb-6 block group relative overflow-hidden shadow-md">
            <img src="https://images.unsplash.com/photo-1516245834210-c4c142787335?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=300&amp;h=384&amp;q=80" class="absolute z-0 object-cover w-full h-96">
            <div class="absolute gradient transition duration-300 group-hover:bg-black group-hover:opacity-90 w-full h-96 z-100"></div>
            <div class="absolute left-0 right-0 bottom-0 p-6 z-30 transform translate-y-1/2 transition duration-300 h-full group-hover:translate-y-0 delay-100">
              <div class="h-1/2 relative">
                <div class="absolute bottom-0">
                  <h2 class="font-bold text-white leading-tight transition duration-300 text-xl pb-6 group-hover:underline">El Salvador Bitcoin city planned at base of Conchagua volcano</h2>
                </div>
              </div>
              <div class="h-1/2">
                <p class="text-white pb-4 opacity-0 transition duration-300 group-hover:opacity-100">El Salvador plans to build a Bitcoin city at the base of a volcano, with the cryptocurrency used to fund the project.</p>
                <button class="bg-white text-black text-sm px-3 py-1 font-semibold opacity-0 transition duration-300 group-hover:opacity-100 border-2 border-white focus:border-black focus:bg-gray-300">Read More</button>
              </div>
            </div>
          </a>
          <a href="#" class="h-96 mb-6 block group relative overflow-hidden shadow-md">
            <img src="https://images.unsplash.com/photo-1593941707882-a5bba14938c7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=300&amp;h=384&amp;q=80" class="absolute z-0 object-cover w-full h-96">
            <div class="absolute gradient transition duration-300 group-hover:bg-black group-hover:opacity-90 w-full h-96 z-10"></div>
            <div class="absolute left-0 right-0 bottom-0 p-6 z-30 transform translate-y-1/2 transition duration-300 h-full group-hover:translate-y-0 delay-100">
              <div class="h-1/2 relative">
                <div class="absolute bottom-0">
                  <h2 class="font-bold text-white leading-tight transition duration-300 text-xl pb-6 group-hover:underline">New homes in England to have electric car chargers by law</h2>
                </div>
              </div>
              <div class="h-1/2">
                <p class="text-white pb-4 opacity-0 transition duration-300 group-hover:opacity-100">New homes and buildings in England will be required by law to install electric vehicle charging points from next year.</p>
                <button class="bg-white text-black text-sm px-3 py-1 font-semibold opacity-0 transition duration-300 group-hover:opacity-100 border-2 border-white focus:border-black focus:bg-gray-300">Read More</button>
              </div>
            </div>
          </a>
          <a href="#" class="h-96 mb-6 block group relative overflow-hidden shadow-md">
            <img src="https://images.unsplash.com/photo-1633265486064-086b219458ec?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=300&amp;h=384&amp;q=80" class="absolute z-0 object-cover w-full h-96 transform group-hover:scale-150">
            <div class="absolute gradient transition duration-300 group-hover:bg-black group-hover:opacity-90 w-full h-96 z-10"></div>
            <div class="absolute left-0 right-0 bottom-0 p-6 z-30 transform translate-y-1/2 transition duration-300 h-full group-hover:translate-y-0 delay-100">
              <div class="h-1/2 relative">
                <div class="absolute bottom-0">
                  <h2 class="font-bold text-white leading-tight transition duration-300 text-xl pb-6 group-hover:underline">Facebook and Instagram encryption plans delayed by Meta until 2023</h2>
                </div>
              </div>
              <div class="h-1/2">
                <p class="text-white pb-4 opacity-0 transition duration-300 group-hover:opacity-100">Plans to roll out end-to-end encryption on Facebook and Instagram have been delayed amid a row over child safety.</p>
                <button class="bg-white text-black text-sm px-3 py-1 font-semibold opacity-0 transition duration-300 group-hover:opacity-100 border-2 border-white focus:border-black focus:bg-gray-300">Read More</button>
              </div>
            </div>
          </a>
        </div>
      </aside>
    </div>
  </div>
  <footer class="py-4 bg-gray-900">
    <div class="text-center text-white text-lg">
      © 2022 Created by <a class="underline hover:no-underline" href="https://stephenainsworth.com" target="_blank" title="Stephen Ainsworth - Web Developer">Stephen Ainsworth</a>
    </div>
  </footer>
</div>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
